  <div>
    <footer class="footer">
      <div>

      <div class="icons">
        <a href="#" class="icons"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="icons"><i class="fab fa-instagram"></i></a>
        <a href="#" class="icons"><i class="fab fa-reddit"></i></a>
        <a href="#" class="icons"><i class="fab fa-github"></i></a>
        <a href="#" class="icons"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="footer-text">
      </div>
      </div>
    </footer>
  </div>
