  <div>
    <footer class="foot bottom">
      <div class="icon">
        <a href="https://www.facebook.com/ashanti.richardson" class="icon"><i class="fab fa-facebook-f"></i></a>
      </div>
      <div class="icon">
        <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="icon">
        <%= mail_to "ashanti.richardson@gmail.com", "Email Me" %>
      </div>
      <div class="icon">
        <a href="https://github.com/acrichardson" class="icon"><i class="fab fa-github"></i></a>
      </div>
      <div class="icon">
        <a href="https://twitter.com/" class="icon"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>
  </div>
