  <div>
    <footer class="foot">
      <div class="icon">
        <a href="https://www.facebook.com/ashanti.richardson" class="icon" target="_blank"><i class="fab fa-facebook-f"></i></a>
      </div>
      <div class="icon">
        <a href="#" class="icon" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
      <!-- <div class=""> -->
        <!-- <%= mail_to "ashanti.richardson@gmail.com", "ashanti.richardson@gmail.com" %> -->
        <!-- <p>ashanti.richardson@gmail.com</p> -->
      <!-- </div> -->
      <div class="icon">
        <a href="https://github.com/acrichardson" class="icon" target="_blank"><i class="fab fa-github"></i></a>
      </div>
      <div class="icon">
        <a href="https://www.linkedin.com/in/ashanti-richardson-71b4a6b1/" class="icon" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </footer>
  </div>
