<%= render 'shared/navbar' %>


  <div class="container m-0 p-0">
    <div class="row">
      <div class="col-sm-12 col-lg-5 mb-3 p-0 ml-5 mr-5 pad about_text">
      <div class="m-3 mt-5">

        <h1 class="montserrat mb-3 ">About me</h1>
<div class="montserrat">

        <p>I am a junior web developer based in Amsterdam.</p>
        <p>I enjoy problem solving and creating helpful and enjoyable things from scratch.</p>
        <p>My coding adventure started about a year ago. From that time I have immersed myself in code as much as possible. I have finished the 9 week Le Wagon fullstack web development course and have been coding everyday since.</p>
        <p>I'm looking for a possibility to learn more about coding. I love building reactive web applications and doing anything that can deepen my knowledge about code.</p>

        Stack:
        Ruby on Rails
        HTML
        JavaScript ES2015
        CSS
        SQL
        React
        Bootstrap
        git
        GitHub
        Heroku
</div>
      </div>
      </div>



  <div class="col-sm-12 col-lg-4 ml-5">
  <div class="ava">
    <!-- <div class="image"> -->

      <!-- <img src="../../assets/ashanti.png" alt=""> -->
<%= cl_image_tag("ashanti2") %>
    <!-- </div> -->
  </div>



      </div>
    </div>
  </div>




<%= render 'shared/foot' %>














<!--

<h1 class="ml8">
  <span class="letters-container">
    <span class="letters letters-left">Hi</span>
    <span class="test">Hi!</span>
    <span class="letters bang">!</span>
  </span>
  <span class="circle circle-white"></span>
  <span class="circle circle-dark"></span>
  <span class="circle circle-container"><span class="circle circle-dark-dashed"></span></span>
</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<script>
  anime.timeline({loop: true})
  .add({
    targets: '.ml8 .circle-white',
    scale: [0, 3],
    opacity: [1, 0],
    easing: "easeInOutExpo",
    rotateZ: 360,
    duration: 1100
  }).add({
    targets: '.ml8 .circle-container',
    scale: [0, 1],
    duration: 1100,
    easing: "easeInOutExpo",
    offset: '-=1000'
  }).add({
    targets: '.ml8 .circle-dark',
    scale: [0, 1],
    duration: 1100,
    easing: "easeOutExpo",
    offset: '-=600'
  }).add({
    targets: '.ml8 .letters-left',
    scale: [0, 1],
    duration: 1200,
    offset: '-=550'
  }).add({
    targets: '.ml8 .bang',
    scale: [0, 1],
    rotateZ: [45, 15],
    duration: 1200,
    offset: '-=1000'
  }).add({
    targets: '.ml8',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1400
  });

anime({
  targets: '.ml8 .circle-dark-dashed',
  rotateZ: 360,
  duration: 8000,
  easing: "linear",
  loop: true
});
</script> -->
