
<div class="home_background">

  <%= render 'shared/navbar' %>
  <div class="container margintop_AR">
    <div class="row myname">
      <div class="col-8 mb-5">

        <h1 class="name_font home_text" >Ashanti Richardson</h1>
        <h3 class="home_text ml3" >Full Stack Web Developer</h3>
        <h6 class="home_text ml4">
          <span class="letters letters-3"> (junior)</span>
        </h6>
      </div>

    </div>
  </div>

  <div class="">

    <ul class="p-0 m-4">
      <div class="flex m-3">
        <li class="">
          <img class="half img_homet" src="../../assets/packed.png" alt="something">
        </li>
        <div class="description half">
          <p>PackedRight:</p>
          <p>PackedRight is an Uber inspired platform but then it focusses on parcels alone. Users can log in and make a profile. They can see if there are suitable drivers in their area and book a ride for parcels of any kind. They can follow their selected driver as they approach and chat with them to ask questions. The driver can update the status of a package with just one click. Users and drivers can give each other ratings after the ride is done.</p>
        </div>
      </div>

      <div class="flex m-3">
        <div class="description half">
          <p>Rentart:</p>
          <p>raesentium totam repellendus! Similique quia maxime laboriosam consectetur, veritatis nisi deserunt dolor minus! </p>
        </div>
        <li class="">
          <img class="half img_homet" src="../../assets/rentart.png" alt="something">
        </li>
      </div>

      <div class="flex m-3">
        <li class="">
          <img class="half img_homet" src="../../assets/cocktailsinval.png" alt="something">
        </li>
        <div class="description half">
          <p>Description:</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt odio autem eius possimus rem nobis perferendis suscipit, praesentium totam repellendus! Similique quia maxime laboriosam consectetur, veritatis nisi deserunt dolor minus! </p>
        </div>
      </div>

      <div class="flex m-3">
        <div class="description half">
          <p>Description:</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt odio autem eius possimus rem nobis perferendis suscipit, praesentium totam repellendus! Similique quia maxime laboriosam consectetur, veritatis nisi deserunt dolor minus! </p>
        </div>
        <li class="">
          <img class="half img_homet" src="../../assets/landing page.png" alt="something">
        </li>
      </div>

    </ul>
  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<script type="text/javascript">
  var textWrapper = document.querySelector('.ml3');
  textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

  anime.timeline({loop: true})
  .add({
    targets: '.ml3 .letter',
    opacity: [0,1],
    easing: "easeInOutQuad",
    duration: 2250,
    delay: (el, i) => 150 * (i+1)
  }).add({
    targets: '.ml3',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });

  //////////////////////
  var ml4 = {};
  ml4.opacityIn = [0,1];
  ml4.scaleIn = [0.2, 1];
  ml4.scaleOut = 3;
  ml4.durationIn = 800;
  ml4.durationOut = 6000;
  ml4.delay = 500;

  anime.timeline({loop: true})
  .add({
    targets: '.ml4 .letters-1',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-1',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4 .letters-2',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-2',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4 .letters-3',
    opacity: ml4.opacityIn,
    scale: ml4.scaleIn,
    duration: ml4.durationIn
  }).add({
    targets: '.ml4 .letters-3',
    opacity: 0,
    scale: ml4.scaleOut,
    duration: ml4.durationOut,
    easing: "easeInExpo",
    delay: ml4.delay
  }).add({
    targets: '.ml4',
    opacity: 0,
    duration: 500,
    delay: 500
  });

</script>
