.foot{
  display: flex;
  padding: 11px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100vw;
  opacity: 100%;
  // border-style: dotted;
}

.icon{
  text-decoration: none;
  color: #404040;
  font-size: 20px;
}

.icon:hover {
  text-decoration: none;
  color: #404040;
  -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.bottom {
  bottom:0;
  position:fixed;
  z-index:150;
}
