.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  margin-top: 20vh;
  padding: 0 5vw;
}

.img_home {
  height: 12vw;
  width: auto;
  transition-property: height;
  transition-duration: 5s;
  // transition: height 200s;
}

.img_home:hover {
  height: 50vw;
  position: absolute;
  bottom: 0;
  animation-timing-function: cubic-bezier(0.42, 0, 0.23, 1.24);
}

.img-cont-home {

}
