.myname {
  justify-content: center;
  content-align: center;

}

.name_font {
 font-family: codystar;
}

.home_text {
  text-align: center;
}

.margintop_AR {
  margin-top: 10vh;
}

.projects {
  margin: 8vh;
}
