<%= render 'shared/navbar' %>

<div class="container">
  <!-- <h2 class="contact">Contact me!</h2> -->
</div>
  <div id="contact">
    <%= render 'contact_form' %>
  </div>


<footer class="foot bottom">
  <p>+31636499515</p>
  <p>ashanti.richardson@gmail.com</p>
  <div class="icon">
    <a href="https://www.linkedin.com/in/ashanti-richardson-71b4a6b1/" class="icon"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="icon">
    <a href="https://github.com/acrichardson" class="icon"><i class="fab fa-github"></i></a>
  </div>
  <div class="icon">
    <a href="https://www.facebook.com/ashanti.richardson" class="icon"><i class="fab fa-facebook-f"></i></a>
  </div>
</footer>
